doctype html
html(lang="ru")
    head
        include ../components/head/head.jade

    body
        .page
            // header
            include ../components/header/header.jade
            //shout
            include ../components/shout/shout.jade
            //services
            include ../components/services/services.jade
            //latest work
            include ../components/latestWork/latestWork.jade
            //footer
            include ../components/footer/footer.jade
            // copyright
            include ../components/copyright/copyright.jade
            
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
