// Common styles of the project
* {
	font-family: 'Georgia';
	box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
	background-color: rgba(0,0,0,0.1);
}

.page {
	background-color: #ffffff;
	max-width: 1000px;
	margin: 0 auto;
	box-shadow: 0 0 100px rgba(0,0,0,0.5);
}