// File for scss-vars.
// For example: main colors, paddings and so on.

// Footer colors
$footer: (
	width: 225px,
	);
// Copyright colors
$copyright:(
	);
//Common 
$sidePadding: 0 20px;
$topMargin: 80px;
