.navL {
	position: fixed;
	width: 50%;
	display: none;
	z-index: 10;
}
@media only screen and (max-width: 599px) {
	.navL {
		display: flex;
		left: -245px;
		top: 30px;
		transition: all 0.4s;
		&--active {
			position: absolute;
			left: 5px;
		}

	}
}
@media only screen and (max-width: 479px) {
	.navL {
		width: 70%;
		transition: all 0.4s;
		&--active {
			left: 25px;
		}

	}
}