footer.footer
	.columns
		.contacts
			.contacts__title Contact Us
			.contacts__info 
				|Company Name
				br
				|Street Name & Number
				br
				|Town
				br
				|Postcode/Zip
			.contacts__phone
				|Tel: xxxxx xxxxxxxxxx
				br
				|Fax: xxxxx xxxxxxxxxx
				br
				|Email: 
				a(href='contact@mydomain.com') contact@mydomain.com
		.links
			.links__title Quick Links
			a(href='#').links__link Link Text Here
			a(href='#').links__link Link Text Here
			a(href='#').links__link Link Text Here
			a(href='#').links__link Link Text Here
		.blog
			.blog__title From The Blog
			.blog__name Blog Post Title
			.blog__date Posted by Admin on 00.00.0000
			.blog__text Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed facilispede estibulum.
			a(href='#').blog__link Read More »
		.newsletter
			.newsletter__title Grab Our Newsletter
			input(type='text' placeholder='Name' name='text').newsletter__name
			input(type='email' placeholder='Email' name='email').newsletter__email
			input(type='submit' value='SUBMIT' name='submit').newsletter__submit
