.shout__text {
	width: 660px;
	align-self: center;
	font-size: 32px;
	color: #1f222c;
}
@media only screen and (max-width: 1023px) {
	.shout__text {
		width: 440px;
		font-size: 22px;
	}
}
@media only screen and (max-width: 767px) {
	.shout__text {
		width: 320px;
		font-size: 16px;
	}
}
@media only screen and (max-width: 599px) {
	.shout__text {
		width: 260px;
		font-size: 12px;
	}
}
@media only screen and (max-width: 599px) {
	.shout__text {
		width: 160px;
		font-size: 10px;
	}
}