.shout__text {
	width: (660/1000)*100%;
	align-self: center;
	font-size: 32px;
	color: #1f222c;
}
@media only screen and (max-width: 1023px) {
	.shout__text {
		font-size: 22px;
	}
}
@media only screen and (max-width: 767px) {
	.shout__text {
		font-size: 16px;
	}
}
@media only screen and (max-width: 599px) {
	.shout__text {
		font-size: 12px;
	}
}
@media only screen and (max-width: 599px) {
	.shout__text {
		font-size: 10px;
	}
}