.copyright__author {
	float: right;
	line-height: 60px;
}
@media only screen and (max-width: 1023px) {
	.copyright__author {
		line-height: 40px;
	}
}
@media only screen and (max-width: 599px) {
	.copyright__author {
		line-height: 30px;
	}
}