header.header 
	.topbar
		.logo
			h1.logo__topT LIFESTYLE
			span.logo__bottomT Free PSD Website Template
		.nav
			a(href='#').nav__link HOME
			a(href='#').nav__link STYLE DEMO
			a(href='#').nav__link FULL WIDTH
			a(href='#').nav__link DROPDOWN
			a(href='#').nav__link PORTFOLIO
			a(href='#').nav__link GALLERY
		.search
			input(type='text' name='search' placeholder='Search Term Here').search__input
			a(href="#").search__link 
				i.fas.fa-search
