header.header 
	a(href='#').hamburger
		span
	.searchMobile
		input(type='text' name='search' placeholder='Search Term Here').searchMobile__input
		a(href="#").searchMobile__link 
			i.fas.fa-search
	.navL
		a(href='#').navL__link HOME
		a(href='#').navL__link STYLE DEMO
		a(href='#').navL__link FULL WIDTH
	.navR
		a(href='#').navR__link DROPDOWN
		a(href='#').navR__link PORTFOLIO
		a(href='#').navR__link GALLERY
	.topbar
		.logo
			h1.logo__topT 
				span L
				|IFESTYLE
			span.logo__bottomT Free PSD Website Template
		.nav
			a(href='#').nav__link HOME
			a(href='#').nav__link STYLE DEMO
			a(href='#').nav__link FULL WIDTH
			a(href='#').nav__link DROPDOWN
			a(href='#').nav__link PORTFOLIO
			a(href='#').nav__link GALLERY
		.search
			input(type='text' name='search' placeholder='Search Term Here').search__input
			a(href="#").search__link 
				i.fas.fa-search
