.latestWork
	.topLine
		hr.topLine__line
		.topLine__name Indonectetus facilis
	.works
		.work
			img(src='%=static=%img/assets/latestWork/work1.png', atl='First work').work__image
			.work__name Image Name or Title
			.work__text Some tags or text goes here.
		.work
			img(src='%=static=%img/assets/latestWork/work2.png', atl='First work').work__image
			.work__name Image Name or Title
			.work__text Some tags or text goes here.
		.work
			img(src='%=static=%img/assets/latestWork/work3.png', atl='First work').work__image
			.work__name Image Name or Title
			.work__text Some tags or text goes here.
		.work
			img(src='%=static=%img/assets/latestWork/work4.png', atl='First work').work__image
			.work__name Image Name or Title
			.work__text Some tags or text goes here.
		.work
			img(src='%=static=%img/assets/latestWork/work5.png', atl='First work').work__image
			.work__name Image Name or Title
			.work__text Some tags or text goes here.
		.work
			img(src='%=static=%img/assets/latestWork/work6.png', atl='First work').work__image
			.work__name Image Name or Title
			.work__text Some tags or text goes here.