.contacts {
	width: map-get($footer, width);
}
@media only screen and (max-width: 1023px) {
	.contacts {
		width: 48%;
	}
}
@media only screen and (max-width: 599px) {
	.contacts {
		width: 100%;
	}
}