.services {
	width: 100%;
	margin-top: $topMargin;
	padding: $sidePadding;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media only screen and (max-width: 1023px) {
	.services {
		margin-top: $topMargin - 40px;
	}
}
@media only screen and (max-width: 599px) {
	.services {
		margin-top: $topMargin - 60px;
	}
}
@media only screen and (max-width: 479px) {
	.services {
		margin-top: $topMargin - 70px;
		padding: 0 5px;
	}
}