.services
	.service
		img(src='%=static=%img/assets/services/service1.png', atl='First image').service__image
		.service__column
			span.service__name Service 1
			br
			span.service__text Nullamlacus dui ipsum cons eque loborttis non euisque morbi penas dapi bulum.
	.service
		img(src='%=static=%img/assets/services/service2.png', atl='Second image').service__image
		.service__column
			span.service__name Service 2
			br
			span.service__text Nullamlacus dui ipsum cons eque loborttis non euisque morbi penas dapi bulum.
	.service
		img(src='%=static=%img/assets/services/service3.png', atl='Third image').service__image
		.service__column
			span.service__name Service 3
			br
			span.service__text Nullamlacus dui ipsum cons eque loborttis non euisque morbi penas dapi bulum.